<div class="flex flex-col justify-center min-h-full py-12 sm:px-6 lg:px-8 bg-gray-50">
    <div class="w-full max-w-sm mx-auto lg:w-96">
        <div>
            <img class="w-full h-12 text-center" src="assets/images/logo-netcare-horizontal.svg" alt="Workflow">

        </div>
        <h2 class="mt-8 text-xl font-bold tracking-tight text-center text-gray-900">Cambia tu contraseña</h2>
        <p class="mt-2 text-sm text-center text-gray-400">
            <a class="font-medium text-gray-400 hover:text-gray-500"> Ingresa tu nueva contraseña </a>
            <p class="mt-2 text-sm text-gray-500">Mínimo 8 caracteres, no debe coincidir en ningun momento al correo y ni usuario, debe ser alfanumerica</p>
    </div>

    <div class="mt-4 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="px-4 py-8 bg-white shadow sm:rounded-lg sm:px-10">
            <div class="space-y-6">
                <div>
                    <label for="password" class="block text-sm font-medium text-gray-700"> Nueva contraseña</label>
                    <div class="mt-1">
                        <input id="password" [(ngModel)]="new_password1" name="password" type="password" autocomplete="password" class="block w-full px-3 py-2 placeholder-gray-400 border border-gray-300 rounded-md shadow-sm appearance-none focus:outline-none focus:ring-purple-500 focus:border-purple-500 sm:text-sm">
                    </div>
                </div>
                <div>
                    <label for="password" class="block text-sm font-medium text-gray-700">Confirma tu contraseña</label>
                    <div class="relative mt-1 rounded-md shadow-sm">
                        <input type="password" name="repeat_password" id="repeat_password" [(ngModel)]="new_password2" (keyup)="VerifySamePasswords()" [ngClass]="{'border-red-300 text-red-900 placeholder-red-300 focus:ring-red-500 focus:border-red-500' : samePassword === false}"
                            class="block w-full pr-10 border-gray-300 rounded-md focus:outline-none sm:text-sm" aria-invalid="true" aria-describedby="password-error">
                        <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
                            <!-- Heroicon name: solid/exclamation-circle -->
                            <svg class="w-5 h-5 text-red-500" *ngIf="samePassword === false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
                      </svg>
                        </div>
                    </div>
                    <p class="mt-2 text-sm text-left text-red-600" *ngIf="samePassword === false" id="repeat_password">Las contraseñas deben coincidir.</p>

                </div>
                <div>
                    <button type="button" (click)="ChangePassword()" [disabled]="new_password2.length === 0 || new_password1.length === 0 || samePassword === false" class="flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-purple-800 border border-transparent rounded-md shadow-sm disabled:opacity-60 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">Enviar</button>
                </div>
            </div>


        </div>
    </div>
</div>
